#midcolumn p { 
	font-size: 1.2em;
}

#midcolumn th {
    font-weight: bold;
    text-align: center;
}

#leftnav .separator {
    list-style-type: none;
}

#leftnav .separator img {
	display: none;
}
